---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest

IndentWidth: 2

AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: true

AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false
---
